@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.main-container {
    padding-bottom: 100px;
    /* Adds space at the bottom */
    position: relative;
    /* Ensure the container is in a stacking context */
}

.homepage-radial-pattern {
    position: absolute;
    top: -2rem;
    right: -0.9rem;
}

.heading-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-bottom: 5rem;
    padding: 14rem;
    border-radius: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.heading-background {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    width: 100%;
    height: 100%;
    background-color: #000000 !important;
    z-index: 0;
    /* Keep the background below everything */
}

.heading-content {
    margin-top: -4rem;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 2;
    flex-direction: column;
    /* Ensure this is above both the background and the project tiles */
}

.main-h2 {
    font-weight: 400;
    font-size: var(--font-size-xxxl);
    letter-spacing: 2px;
    max-width: 1850px;
    width: 90%;
    align-items: center;
    text-align: center;
    color: var(--white-in-dark-theme);
}

@media (max-width: 468px) {
    .main-h2 {
        font-size: var(--font-size-xl) !important;
    }
}

.nav-bar {
    position: sticky;
    padding: 1rem;
    margin-top: 0.5rem;
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    top: 28px;
    align-items: center;
    border-radius: 12px;
    z-index: 8;
    border: 2px solid rgb(56, 56, 56);
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}

.nav-gradient-line {
    position: absolute;
    inset-inline: 9%;
    margin-top: 7rem;
    height: 1px;
    background: linear-gradient(to right, transparent, #6a6a6a, transparent);
}

.nav-bar.start {
    position: static;
    padding: 8px !important;
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 0 !important;
    top: 28px;
    border: none;
    align-items: center;
    z-index: 8;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}

.theme-toggle-button {
    background-color: var(--background-color);
    border: 1px solid rgb(56, 56, 56);
    color: var(--button-text-color);
    border-radius: 5000px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: var(--font-size-sm);
    margin-left: 1rem;
}

.theme-toggle-button:hover {
    background-color: var(--accent-colour);
    color: var(--white-in-dark-theme);
}

.theme-logo {
    width: 30px;
}

.nav-end-links {
    display: flex;
    margin-right: 1rem;
}

.nav-buttons-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.nav-buttons {
    margin-left: auto;
}

.nav-close-button {
    background: transparent;
    border: none;
    font-size: var(--font-size-sm);
    cursor: pointer;
    right: 1rem;
    top: 1rem;
}

.back-icon {
    width: 32px;
    height: 32px;
}

.nav-link-buttons {
    display: flex;
    gap: 1rem;
    /* Add space between buttons */
    justify-content: center;
    /* Center the buttons horizontally */
    flex-grow: 1;
    /* Allow it to take up available space */
    margin-right: 2rem;
}

/* Hamburger Menu Button */
.hamburger {
    display: none;
    /* Hide by default */
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    padding-right: 1rem;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--white-in-dark-theme);
    margin: 4px 0;
}

/* Mobile Menu */
.mobile-menu {
    display: none;
    /* Hide by default */
    position: fixed;
    right: 0;
    top: 1.8rem;
    height: 500vh;
    width: 250px;
    background-color: #121212;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    /* Hide off-screen */
    z-index: 9;
}

.mobile-menu.active {
    transform: translateX(0);
    /* Show on-screen */
}

.mobile-menu a,
.mobile-menu button {
    margin: 1rem 0;
    width: 100%;
}

/* Media Queries for Responsive Design */
@media (max-width: 710px) {
    .nav-bar {
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }

    .nav-buttons-container {
        display: none;
        /* Hide normal navigation */
    }

    .hamburger {
        display: flex;
        /* Show hamburger */
    }

    .mobile-menu {
        display: flex;
        /* Display the mobile menu */
    }
}


.logo {
    width: 180px;
    margin-left: 1.5rem;
}

.log-out-button {
    position: relative;
    padding: 2rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--white-in-dark-theme);
    justify-content: center;
    font-size: var(--font-size-sm);
    text-align: center;
    transition: background-color 0.75s ease;
    transition: color 0.75s ease;
    background-color: var(--background-color);
    border: 1px solid rgb(56, 56, 56);
    margin-right: 1rem;
}

.log-out-button:hover {
    /* filter: brightness(0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); */
    background-color: var(--blue-grey);
    color: var(--white-in-dark-theme);
}

.create-project-button {
    position: relative;
    display: inline-block;
    margin-left: auto;
    padding: 15px 2rem;
    border: none;
    background: transparent;
    color: var(--white-in-dark-theme);
    font-size: var(--font-size-sm);
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.2s ease;
    text-decoration: none;
}

.create-project-button:hover {
    filter: brightness(1.2);
    /* Slightly brighten the text */
    background-color: var(--blue-grey);
}

.ai-div {
    display: flex;
    justify-content: center;
    align-items: center;
}



.more-btn {
    background: none;
    border: none;
    color: rgb(163, 163, 163);
    cursor: pointer;
    text-decoration: underline;
    margin-left: 2rem;
    font-size: var(--font-size-sm);
}

@media (max-width: 480px) {
    .more-btn {
        display: block;
        margin-top: 8px;
        /* Adds space above the button */
    }
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    /* Allow cards to wrap to the next line */
    width: 87%;
    margin-top: 8rem;
    justify-content: space-between;
}

/* Styles for smaller screens */
@media (max-width: 1162px) {

    /* Adjust the max-width as needed */
    .feature-list {
        flex-direction: column;
        /* Stack cards vertically */
        align-items: center;
        /* Center cards in the column */
    }
}

/* Styles for smaller screens */
@media (max-width: 1162px) {

    /* Adjust the max-width as needed */
    .starting-image {
        margin-bottom: 5rem;
        width: 65%;
    }
}

.feature-container {
    background-color: none;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10rem;
    flex: 1 1 calc(100%);
    font-weight: 300;
    max-width: 50rem;
    transition: transform 0.3s ease, filter 0.3s ease;
    display: flex;
    flex-direction: column;
    box-shadow: inset 2px 16px 16px rgba(32, 32, 32, 0.5) !important;
    justify-content: flex-start;
}

.feature-header {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.svg-container {
    margin-right: 1.5rem;
    margin-left: 0;
}

.feature-text {
    text-align: center;
    font-size: var(--font-size-md);
    font-weight: 300;

}

.feature-description {
    font-size: var(--font-size-sm);
    text-align: left;
    width: 80%;
    margin-left: 2rem;
}